/* This is the main style sheet */

h1, p, div {
    font-family: Roboto;
    font-size: 16px;
    color: #4f4f4f;
}

header {
    grid-area: header;
    background-color: #f8f8f8;
    padding: 0.5% 1% 0 1%;
  }

h1 {
    font-size: 48px;
    /* line-height: 1.04; */
    color: #000000;
    margin-left: 16%;
    margin-top: 0;
}

#description {
    line-height: 1.25;
    width: 50%;
    margin-right: 54%;
    margin-left: 16%;
  }

#btn-and-slider {
    display: flex;
    align-items: center;
}

#play-btn {
    margin-top: 2%;
    height: 30px;
    width: 30px;
}

.pause {
    background-color: #000000;
}

/* slider format */

#time-slider-container {
    padding: 0 2%;
}

#time-slider {
    width: 100%
}

#time-slider-label {
    padding-top: 1%;
    padding-left: 1%;
    display: grid;
    grid-template-columns: repeat(36, 1fr);
}

#time-slider-label > div {
    text-align: center;
    vertical-align: middle;
}

#month-year {
    margin-top: 1%;
    text-align: center;
}

 /* bar chart */
#bar-chart > svg {
    min-height: 700px;
}

#tooltip {
    border-radius: 5px;
    border: solid 2px #bdbdbd;
    background-color: #f2f2f2;
    padding: 0.5%;
}

/* css grid settings */

body, .grid-container {
    display: grid;
    grid-template-areas: "header header header"
                         "sidebar content content"
                         "sidebar content content"
                         "sidebar content content";
}

.grid-element.content {
    grid-area: content;
    margin-right: 16%;
    text-align: center;
}

.grid-container.content > * {
    display: inline;
}

.grid-element.sidebar {
    grid-area: sidebar;
    padding-left: 16%;
    width: 400px;
}

/* An example of CSS anim */
/*
@keyframes pulse {
    0% {
        font-size: 12px
    }
    50% {
        font-size: 18px
    }
    100% {
        font-size: 12px
    }
} */